{% extends '/admin/base.twig' %}

{% block container %}
    <ul class="nav nav-tabs">
        <li><a href="/admin/buyer/list">회원 목록</a></li>
        {#<li><a href="/admin/buyer/bloc/verify">회원 검증</a></li>#}
        <li><a href="/admin/buyer/bloc/search">회원 일괄 검색</a></li>
        <li><a href="/admin/buyer/bloc/coin">코인 지급/회수</a></li>
        {#<li><a href="/admin/buyer/bloc/coin/period_reduce">기간제 코인 회수</a></li>#}
        <li><a href="/admin/buyer/migration_history">회원 계정이전 히스토리</a></li>
        <li class="active"><a href="/admin/ridibooks_migration/list">리디북스 계정이전 히스토리</a></li>
    </ul>

    <div class="well form-inline">
        <h4>리디북스 계정이전 유저 ID 목록</h4>
    </div>

    <div class="well form-inline">
        {% for migration in migrations %}
            {{ migration.u_id }},
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('#return_to_list').click(function() {
                location.href = '/admin/ridibooks_migration/list';
            });
        });
    </script>
{% endblock %}
