{% extends '/admin/base.twig' %}

{% block container %}
<h4>JSON API</h4>
<pre class='well'>
* 리스트, 상세 정보
    /api/book/list
    /api/book/{id}
    /api/book/{id}/parts
    
* 파트 좋아요
    /api/user/{device}/part/{p_id}/like
    /api/user/{device}/part/{p_id}/unlike
    
== 관심책 ==
 
* 관심책 조회
    /api/user/{device}/interest/{b_id}

    - {"success": true}
    - {"success": false}

* 관심책 설정/해제
    /api/user/{device}/interest/{b_id}/set
    /api/user/{device}/interest/{b_id}/clear
    
* 관심책 목록
    /api/user/{device}/interest/list
</pre>

<h4>HTML Pages</h4>
<pre class='well'>
* 메인 홈
    /home
	
* 파트 댓글 남기기
    /comment/list?p_id=1

* 작품 상세 정보
    /book/{b_id}/intro
</pre>
{% endblock %}