{% extends '/admin/base.twig' %}

{% block container %}

<div class="well form-inline">
    <h4>리디스토리 안드로이드 4.17 버전 배너 Hide/Show</h4>
    현재 :
    {% if banner_visibility == 1 %}
        <span style='font-weight: bold; color: #0000ff'>보임</span>
    {% else %}
        <span style='font-weight: bold; color: #ff0000'>숨김</span>
    {% endif %}
    <br />
    * 수정이 필요할 경우, 관리자에게 문의해주세요.
</div>

<table class='table table-hover'>
	<thead>
		<tr>
			<th class='span1'>ID</th>
			<th>배너</th>
			<th class='span1'>공개 여부</th>
		</tr>
	</thead>
	<tbody id='js_tbody'>
		{% for b in banner_list %}
		<tr data-bid='{{ b.id }}'>
			<td>{{ b.id }}</td>
			<td><img src="{{ b.image }}" /></td>
			<td>{{ b.is_visible }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<button class='btn btn-primary' id='js_add'>추가</button>

{% endblock %}

{% block script %}
<script>
$(function() {
    $('#js_add').click(function() {
        location.href = '/admin/banner/add';
    });
    
    $('#js_tbody tr').click(function() {
        var b_id = $(this).data('bid');
        location.href = '/admin/banner/' + b_id;
    });
    
    $('#js_tbody tr').hover(function() {
         	$(this).css('cursor', 'pointer');
        }, function() {
         	$(this).css('cursor', '');
        }
    );
});
</script>
{% endblock %}