
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>RIDI Story CMS</title>
        <meta name="description" content="">
        <!--<meta name="viewport" content="width=device-width">-->

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <!--<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">-->
        {% block css %}
        {% endblock %}
        <style>
            .header h1 {
                font-size: 40px;
                font-weight: 200;
                color: white;
                letter-spacing: -0.1ex;
                text-shadow: 0 1px 1px #666;
                float: left;
            }
            .header .info {
                margin-top: 20px;
                float: right;
                display: none;
            }
        </style>
        <script src="/static/bower_components/modernizr/modernizr.js"></script>
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    </head>
    <body>
        <header class="header">
            <div class="container">
            <h1 onclick="location.href='/admin/book/list'">RIDI Story CMS</h1>
            <div class="info" id="gnb_btn_area">
                <button class="btn" onclick="location.href='/admin/logout'">로그아웃</button>
            </div>
            {% block header %}
            {% endblock %}
            </div>
        </header>
        
        <div class="container">
			
            <div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav">
							<li class="span2">
								<a href="/admin/book/list"><i class='icon-book'></i> 연재물 관리</a>
								<a href="/admin/storyplusbook/list"><i class='icon-book'></i> <s>스토리+ 책 관리</s></a>
                                <a href="/admin/banner/list"><i class='icon-th-list'></i>배너 관리</a>
							</li>
							<li class="span2">
							    <a href="/admin/notice/list"><i class='icon-th-list'></i> 공지사항 관리</a>
                                <a href="/admin/comment/list"><i class='icon-comment'></i> 리뷰 관리</a>
                                <a href="/admin/push/interest_book/part_update"><i class='icon-star'></i> 푸쉬 메세지 발송</a>
							</li>
                            <li class="span2">
                                <a href="/admin/buyer/list"><i class='icon-user'></i> 회원 관리</a>
                                <a href="/admin/test_user/list"><i class='icon-user'></i> 테스트 계정 관리</a>
                                <a href="/admin/cp_account/list"><i class='icon-user'></i> CP 관리</a>
                            </li>
                            <li class="span2">
                                <a href="/admin/coin_product/list"><i class='icon-gift'></i> 코인 상품 관리</a>
                                <a href="/admin/inapp_sales/list"><i class='icon-gift'></i> 인앱 결제내역</a>
                                <a href="/admin/ridicash_sales/list"><i class='icon-gift'></i> 리디캐시 결제내역</a>
                            </li>
                            <li class="span2">
                                <a href="/admin/download_sales/list"><i class='icon-gift'></i> 매출 확인</a>
                                <a href="/admin/stats/register_device"><i class='icon-signal'></i> 통계</a>
                                <a href="/admin/stats_kpi/buy_coin"><i class='icon-signal'></i> KPI 통계</a>
                            </li>
						</ul>
					</div>
				</div>
			</div>
            {% for alert in app.session.getFlashBag.get('alert') %}
                {% for key in alert|keys %}
                    <div class='alert alert-{{ key }}'>
                        <button class="close" data-dismiss="alert">&times;</button>
                        {{ alert[key] }}
                    </div>
                {% endfor %}
            {% endfor %}
            
            {% block container %}
            {% endblock %}
        </div> <!-- /container -->

		<footer class="footer">
			<div class="container">
				<p>
				    Copyright © 2013 RIDI Corporation.
				</p>
				<ul class="footer-links">
					<li>
						<a href="/admin/api_list">API List</a>
					</li>
					<li class="muted">
						&middot;
					</li>
					<li>
						<a href="#">Changelog</a>
					</li>
				</ul>
			</div>
		</footer>
        {% block script %}
        {% endblock %}
    </body>
</html>
