.ajax_overlay {
}
.ajax_loader {
	background: url("ajax-loader_blue.gif") no-repeat center center transparent;
	width: 100%;
	height: 100%;
}

.header {
	padding-top: 20px;
	margin-bottom: 10px;
	background-color: #87b5d7;
	border-bottom: 1px solid #e5e5e5; 
}

.header img {
	width: 200px;
	padding-bottom: 10px;
}

.footer {
	font-size: small;
	text-align: center;
	padding: 20px 0;
	margin-top: 70px;
	background-image: url('../img/straws.png');
}
.footer p {
	margin-bottom: 0;
	color: #777;
}
.footer-links {
	margin: 0px 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}