@charset "utf-8";
body {
  width: 100%;
  background: #f2efe9;
}
button.default_btn {
  -webkit-appearance: none;
  border: 1px solid #cecac0;
  border-radius: 2px;
  background: #faf8f4;
  height: 27px;
  line-height: 27px;
  color: #736e66;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -1px;
  padding: 0 10px;
}
#story {
  position: relative;
}
.module_book_thumb .thumb_wrap {
  display: inline-block;
  position: relative;
}
.module_book_thumb .thumb_wrap .img_wrap {
  display: block;
  box-shadow: 2px 2px 5px #999;
}
.module_book_thumb .thumb_wrap .img_wrap img {
  display: block;
  width: 100px;
}
.module_book_thumb .thumb_wrap .img_wrap:before {
  display: block;
  content: '';
  height: 100%;
  width: 24px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/book_lighting.png?1313) left top repeat-y;
  background-size: 24px 1px;
}
.module_book_thumb .thumb_wrap .img_wrap:after {
  display: block;
  content: '';
  height: 100%;
  width: 12px;
  position: absolute;
  right: -12px;
  top: 0;
  background: blue;
  background: url(../images/book_side.png) left top repeat-y;
  background-size: 12px 100%;
}
.module_book_info {
  box-sizing: border-box;
  padding-right: 15px;
}
.module_book_info .info_title {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: -1px;
  color: black;
  font-weight: bold;
  word-break: break-all;
}
.module_book_info .info_title a {
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: -1px;
  color: black;
  font-weight: bold;
  word-break: break-all;
}
.module_book_info .info_title_sub {
  margin-bottom: 4px;
  color: #777;
  word-break: break-all;
  line-height: 1.3em;
}
.module_book_info .info_author li {
  color: #777;
  float: left;
  padding: 0 7px;
  border-left: 1px solid #777;
  margin-bottom: 5px;
  word-break: break-all;
}
.module_book_info .info_author li a {
  color: #777;
  word-break: break-all;
}
.module_book_info .info_author li:first-child {
  padding-left: 0;
  border-left: none;
}
.module_book_info .info_author li:last-child {
  padding-right: 0;
}
.module_book_info .info_descript {
  clear: both;
  padding-top: 4px;
  color: #333;
  line-height: 1.3em;
  word-break: break-all;
}
.module_list_grid {
  width: 100%;
}
.module_list_grid li {
  width: 33%;
  text-align: center;
  float: left;
  display: block;
  height: 160px;
}
.module_list_grid li .list_grid {
  display: inline-block;
  height: 160px;
}
.module_list_grid li .list_grid .module_book_thumb {
  height: 120px;
}
.module_list_grid li .list_grid .module_book_thumb img {
  width: 80px;
  height: 113px;
}
.module_list_grid li .list_grid .module_book_info {
  width: 80px;
  text-align: left;
  height: 40px;
  overflow-y: hidden;
}
.module_list_grid li .list_grid .module_book_info .info_title {
  font-size: 11px;
  font-weight: normal;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */

  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.module_title1 {
  width: 100%;
  height: 28px;
  background: white;
  background-image: linear-gradient(180deg, #ffffff, #f5f3ec);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f5f3ec));
  /* Safari 4+, Chrome 1-9 */

  background: -webkit-linear-gradient(top, #ffffff, #f5f3ec);
  /* Safari 5.1+, Mobile Safari, Chrome 10+ */

  background: -moz-linear-gradient(top, #ffffff, #f5f3ec);
  /* Firefox 3.6+ */

  background: -ms-linear-gradient(top, #ffffff, #f5f3ec);
  /* IE 10+ */

  background: -o-linear-gradient(top, #ffffff, #f5f3ec);
  /* Opera 11.10+ */

}
.module_title1 h2 {
  display: block;
  float: left;
  margin-left: 10px;
  height: 28px;
  line-height: 28px;
  color: black;
  font-weight: bold;
  letter-spacing: -1px;
}
.module_title1 .title_tip {
  float: left;
  margin: 6px 0 0 5px;
  height: 16px;
  line-height: 16px;
  color: white;
  font-size: 10px;
  padding: 0 7px;
  border-radius: 20px;
  background: #f58d83;
}
.module_title2 {
  width: 100%;
  background: #f2efe9;
  border-bottom: 1px solid #d9d5cd;
}
.module_title2 h2.title {
  margin: 10px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.5;
}
.module_title3 {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #989080;
  background: #b0a799;
  background-image: linear-gradient(180deg, #bab2a4, #a8a08f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bab2a4), to(#a8a08f));
  /* Safari 4+, Chrome 1-9 */

  background: -webkit-linear-gradient(top, #bab2a4, #a8a08f);
  /* Safari 5.1+, Mobile Safari, Chrome 10+ */

  background: -moz-linear-gradient(top, #bab2a4, #a8a08f);
  /* Firefox 3.6+ */

  background: -ms-linear-gradient(top, #bab2a4, #a8a08f);
  /* IE 10+ */

  background: -o-linear-gradient(top, #bab2a4, #a8a08f);
  /* Opera 11.10+ */

}
.module_title3 .title {
  float: left;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.module_title3 .date {
  float: right;
  margin-right: 10px;
  line-height: 30px;
  color: white;
}
.module_tab1 {
  width: 100%;
  height: 30px;
  background: #84c7dc;
  border-top: 1px solid #76bacf;
  border-bottom: 1px solid #76bacf;
  position: relative;
}
.module_tab1 nav {
  padding: 0 10px;
}
.module_tab1 nav ul li {
  width: 50%;
  float: left;
  margin-top: 9px;
  position: relative;
}
.module_tab1 nav ul li a {
  display: block;
  height: 12px;
  border-left: 1px solid #b6d6de;
  text-align: center;
  font-weight: bold;
  color: white;
}
.module_tab1 nav ul li:first-child a {
  border-left: none;
}
.module_tab1 nav ul li.active {
  width: 50%;
  height: 27px;
  margin-top: 3px;
  border-bottom: 1px solid #f2efe9;
}
.module_tab1 nav ul li.active a {
  width: 101%;
  height: 22px;
  padding-top: 5px;
  position: absolute;
  left: 0;
  top: 0;
  border-left: none;
  color: #666;
  background: #f2efe9;
  border: 1px solid #76bacf;
  border-bottom: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  z-index: 500;
}
.module_layer_popup {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.module_layer_popup .popup_wrap {
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
}
.module_layer_popup .popup_wrap article {
  width: 100%;
}
.module_layer_popup .popup_wrap article .popup_contents {
  box-shadow: 0 0 3px #333;
}
.module_layer_popup .popup_wrap article .popup_contents p {
  padding: 10px 10px 20px 10px;
  background: white;
  line-height: 1.6em;
  font-size: 13px;
  word-break: break-all;
}
#story section.main {
  width: 100%;
}
#story section.main article.main_recom {
  background: url(../images/bg_recom.png) left top repeat;
  background-size: 100px 404px;
  position: relative;
  height: 186px;
  border-bottom: 1px solid #ccb58e;
}
#story section.main article.main_recom h2.recom_title {
  height: 24px;
  text-indent: -20000px;
  background: url(../images/text_recom.png) left top no-repeat;
  background-size: 48px 18px;
}
#story section.main article.main_recom nav.recom_nav {
  width: 100%;
  position: absolute;
  bottom: 16px;
  left: 0;
}
#story section.main article.main_recom nav.recom_nav ul {
  width: 100%;
  text-align: center;
}
#story section.main article.main_recom nav.recom_nav ul li {
  display: inline-block;
}
#story section.main article.main_recom nav.recom_nav ul li button {
  display: block;
  width: 5px;
  height: 5px;
  background: #d9c9ad;
  border: 1px solid #cdb895;
  border-radius: 10px;
  -webkit-appearance: none;
  text-indent: -20000px;
}
#story section.main article.main_recom nav.recom_nav ul li.active button {
  background: #83cae1;
  border-color: #73b8ce;
}
#story section.main article.main_recom ul.recom_gallery {
  width: 100%;
  position: absolute;
  top: 18px;
  left: 0;
}
#story section.main article.main_recom ul.recom_gallery > li {
  width: 100%;
  height: 186px;
  position: absolute;
  top: 0;
  left: 0;
}
#story section.main article.main_recom ul.recom_gallery > li .book_list .module_book_thumb {
  width: 40%;
  float: left;
  text-align: right;
}
#story section.main article.main_recom ul.recom_gallery > li .book_list .module_book_thumb .thumb_wrap {
  margin-right: 20px;
}
#story section.main article.main_recom ul.recom_gallery > li .book_list .module_book_info {
  width: 55%;
  float: left;
}
#story section.main article.main_recom ul.recom_gallery > li .book_list .module_book_info .info_title {
  margin-bottom: 9px;
}
#story section.main article.main_new .book_list {
  width: 100%;
  border-bottom: 1px solid #e1dcd4;
  margin-top: 23px;
  padding-bottom: 20px;
}
#story section.main article.main_new .book_list .module_book_thumb {
  width: 40%;
  float: left;
  text-align: right;
}
#story section.main article.main_new .book_list .module_book_thumb .thumb_wrap {
  margin-right: 20px;
}
#story section.main article.main_new .book_list .module_book_info {
  width: 55%;
  float: left;
  margin-top: 4px;
}
#story section.main article.main_best {
  width: 100%;
}
#story section.main article.main_best .list_grid_wrap {
  padding: 15px 0;
  border-top: 1px solid #cac1b8;
}
#story section.comment article.comment_wrap {
  width: 100%;
}
#story section.comment article.comment_wrap .comment_tab {
  background: #faf8f4;
  width: 100%;
}
#story section.comment article.comment_wrap .comment_tab .tab_off {
  width: 100%;
  height: 35px;
  background: white;
  background-image: linear-gradient(180deg, #ffffff, #f5f3ec);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f5f3ec));
  /* Safari 4+, Chrome 1-9 */

  background: -webkit-linear-gradient(top, #ffffff, #f5f3ec);
  /* Safari 5.1+, Mobile Safari, Chrome 10+ */

  background: -moz-linear-gradient(top, #ffffff, #f5f3ec);
  /* Firefox 3.6+ */

  background: -ms-linear-gradient(top, #ffffff, #f5f3ec);
  /* IE 10+ */

  background: -o-linear-gradient(top, #ffffff, #f5f3ec);
  /* Opera 11.10+ */

}
#story section.comment article.comment_wrap .comment_tab .tab_off .comment_num {
  float: left;
  margin: 12px 0 0 10px;
  color: #666;
}
#story section.comment article.comment_wrap .comment_tab .tab_off .comment_num .num {
  font-weight: bold;
  color: #ee8d84;
}
#story section.comment article.comment_wrap .comment_tab .tab_off .btn_tab_open {
  float: right;
  margin: 4px 5px 0 0;
  background: #b0a799;
  background-image: linear-gradient(180deg, #fefdfd, #f5f4ed);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefdfd), to(#f5f4ed));
  /* Safari 4+, Chrome 1-9 */

  background: -webkit-linear-gradient(top, #fefdfd, #f5f4ed);
  /* Safari 5.1+, Mobile Safari, Chrome 10+ */

  background: -moz-linear-gradient(top, #fefdfd, #f5f4ed);
  /* Firefox 3.6+ */

  background: -ms-linear-gradient(top, #fefdfd, #f5f4ed);
  /* IE 10+ */

  background: -o-linear-gradient(top, #fefdfd, #f5f4ed);
  /* Opera 11.10+ */

}
#story section.comment article.comment_wrap .comment_tab .tab_on {
  width: 100%;
  background: #faf8f4;
  border-top: 1px solid #fcfbf8;
  border-bottom: 1px solid #d9d5cd;
}
#story section.comment article.comment_wrap .comment_tab .tab_on form {
  padding: 7px 10px 10px 10px;
}
#story section.comment article.comment_wrap .comment_tab .tab_on form .input_nick {
  width: 200px;
  height: 24px;
  background: white;
  line-height: 24px;
  text-indent: 10px;
  border: 1px solid #d6d4ce;
  border-radius: 2px;
  -webkit-appearance: none;
  margin-bottom: 5px;
}
#story section.comment article.comment_wrap .comment_tab .tab_on form .input_text {
  width: 93%;
  height: 60px;
  background: white;
  box-sizing: border-box;
  padding: 3px 10px;
  border: 1px solid #d6d4ce;
  border-radius: 2px;
  -webkit-appearance: none;
  margin-bottom: 5px;
  line-height: 1.3em;
}
#story section.comment article.comment_wrap .comment_tab .tab_on form .char_num {
  float: left;
  color: #aaa69f;
  font-size: 10px;
}
#story section.comment article.comment_wrap .comment_tab .tab_on form .char_num .now_num {
  color: #76706b;
  font-weight: bold;
}
#story section.comment article.comment_wrap .comment_tab .tab_on form .btn_submit {
  float: right;
  margin-bottom: 10px;
}
#story section.comment article.comment_wrap .comment_list {
  width: 100%;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap {
  width: 100%;
  padding-top: 10px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li {
  position: relative;
  padding-left: 63px;
  padding-right: 5px;
  padding-bottom: 10px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .avarta {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 32px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .avarta img {
  width: 32px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .contents_wrap {
  box-sizing: border-box;
  background: white;
  border: 1px solid #d7d3ca;
  border-radius: 10px;
  padding: 10px 10px 10px 15px;
  position: relative;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .contents_wrap .contents_info {
  margin-bottom: 10px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .contents_wrap .contents_info .box_left_arrow {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -17px;
  top: 20px;
  text-indent: -20000px;
  background: url(../images/bg_comment.png) left top no-repeat;
  background-size: 20px 20px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .contents_wrap .contents_info .info_id {
  color: #333;
  font-size: 14px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .contents_wrap .contents_info .info_date {
  display: inline-block;
  padding-left: 6px;
  margin-left: 3px;
  border-left: 1px solid #bbb;
  color: #bbb;
  font-size: 12px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .contents_wrap .contents_info .trash {
  float: right;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .contents_wrap .contents_info .trash img {
  width: 15px;
}
#story section.comment article.comment_wrap .comment_list ul.list_wrap li .contents_wrap .contents_text {
  line-height: 1.3em;
  word-break: break-all;
}
