{% extends '/api/base.twig' %}

{% block container %}

<h2>{{ book.title }}</h2>

<h3>작품 소개</h3>
<p>
    {{ book.intro.description }}
</p>

<h3>저자 소개</h3>
<p>
    {{ book.intro.about_author }}
</p>

{% endblock %}