{% extends '/admin/base.twig' %}

{% block container %}
    <h5>* iOS는 인증서 만료로 인하여, 푸시 메세지를 수신할 수 없습니다.</h5>
    <ul class="nav nav-tabs">
        <li><a href="/admin/push/interest_book/part_update">관심 작품 업데이트</a></li>
        <li class="active"><a href="/admin/push/interest_book/url">관심 작품 URL</a></li>
        <li><a href="/admin/push/notice">공지사항(일반 메세지)</a></li>
    </ul>

    <form action='/admin/push/notify/interest_book/url'>
        <fieldset>
            <label>메세지 <b>수신</b> 대상 책 ID</label>
            <input id='js_interest_recipient' type="text" name='recipient' class='input-small'>
            <label><b>연결</b>될 URL</label>
            <input id='js_interest_url' type="text" name='url' class='input-xxlarge'>
            <label>메세지 <span id='js_payload_length'>(0 / 255)</span></label>
            <input id='js_message' type="text" name='message' class='input-xxlarge'>
        </fieldset>
        <button type="submit" class="btn btn-danger" onclick="return confirm('발송하시겠습니까?');">PUSH 발송!</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('#js_interest_recipient').focusout(function() {
                var b_id = $(this).val();
                $.getJSON('/api/book/' + b_id, function(data) {
                    var message = $(':input[name="message"]');
                    if (data.error) {
                        message.val(data.error);
                    } else {
                        message.val(data.title + " - ");
                    }
                });
            });

            $('#js_message').keyup(function() {
                var url = $('#js_interest_url').val();
                var message = $(this).val();

                $.getJSON('/admin/push/ios_payload_length/interest_book_url?url=' + url + '&message=' + message, function(data) {
                    var payload_length = data['payload_length'];
                    $('#js_payload_length').text('(' + payload_length + ' / 255)');

                    if (payload_length >= 256) {
                        $('#js_message').css('color', 'red');
                        $('.btn-danger').attr("disabled", "disabled");
                    } else {
                        $('#js_message').css('color', 'black');
                        $('.btn-danger').removeAttr("disabled");
                    }
                });
            });

            $('form').submit(function() {
                return true;
            });
        });
    </script>
{% endblock %}