{% extends '/admin/base.twig' %}

{% block container %}
    <h5>* iOS는 인증서 만료로 인하여, 푸시 메세지를 수신할 수 없습니다.</h5>
    <ul class="nav nav-tabs">
        <li><a href="/admin/push/interest_book/part_update">관심 작품 업데이트</a></li>
        <li><a href="/admin/push/interest_book/url">관심 작품 URL</a></li>
        <li class="active"><a href="/admin/push/notice">공지사항(일반 메세지)</a></li>
    </ul>

    <form action='/admin/push/notify/notice'>
        <fieldset>
            <label>메세지 <b>수신</b> 대상 유저 ID 목록</label>
            <textarea rows='8' class='input-xlarge' name='user_list'>{{ user_list }}</textarea>
            * 푸시 메세지를 보낼 회원(유저 ID) 목록을 입력해주세요. (구분은 엔터(줄바꿈)로 해주세요.)
            <label><b>연결</b>될 URL (리디스토리 안드로이드 4.15 버전부터 사용 가능)</label>
            <input id='js_notice_url' type="text" name='url' class='input-xxlarge' placeholder="입력하지 않으시면, 푸시메세지를 눌렀을 때 그냥 앱만 켜집니다.">
            <label>메세지 <span id='js_payload_length'>(0 / 255)</span></label>
            <input id='js_message' type="text" name='message' class='input-xxlarge'>
        </fieldset>
        <button type="submit" class="btn btn-danger" onclick="return confirm('발송하시겠습니까?');">PUSH 발송!</button>
    </form>

    <h4>Push 기기 정보가 존재하지 않는 회원들</h4>
    <table class='table'>
        <tr>
            <th>유저 ID</th>
        </tr>
        {% for u_id in push_token_inexist_u_ids %}
            <tr>
                <td>{{ u_id }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block script %}
    <script>
        $(function() {
            $('#js_message').keyup(function() {
                var url = $('#js_notice_url').val();
                var message = $(this).val();

                $.getJSON('/admin/push/ios_payload_length/notice?url=' + url + '&message=' + message, function(data) {
                    var payload_length = data['payload_length'];
                    $('#js_payload_length').text('(' + payload_length + ' / 255)');

                    if (payload_length >= 256) {
                        $('#js_message').css('color', 'red');
                        $('.btn-danger').attr("disabled", "disabled");
                    } else {
                        $('#js_message').css('color', 'black');
                        $('.btn-danger').removeAttr("disabled");
                    }
                });
            });

            $('form').submit(function() {
                return true;
            });
        });
    </script>
{% endblock %}