<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RIDISTORY BANNER PAGE</title>
    <style>
    	body { margin: 0; padding: 0; }
        #banner { text-align: center; }
    </style>
    
    <script>
        var curBannerIndex = -1;
        var bannerBackgrounds = new Array("/static/images/banner/bg_black.png",
        								"/static/images/banner/bg_red.png");
        var bannerImages = new Array("/static/images/banner/01_ridibooks_app_link.png",
                                    "/static/images/banner/02_sale.png");
        var bannerLinks = new Array("javascript:moveToAppStore()",
                                    "ridistory://openinbrowser/#http://bit.ly/13oqzPs");

        function changeBannerImage() {
        	var bannerContainer = document.getElementById('banner');
            var bannerImageElement = document.getElementById('banner-image');
            var bannerLinkElement = document.getElementById('banner-link');
            var index = (++curBannerIndex) % bannerImages.length;
            
            bannerContainer.style.backgroundImage = "url('" + bannerBackgrounds[index] + "')";
            bannerImageElement.src = bannerImages[index];
            bannerLinkElement.href = bannerLinks[index];
        }
        
        function setTimerToChangeBannerImage() {
            setTimeout(function() {
                changeBannerImage();
                setTimerToChangeBannerImage();
            }, 10000);
        }
        
		function moveToAppStore() {
			{% if platform == 'android' %}
				var link = 'ridistory://openinbrowser/#http://bit.ly/19rQ0El';
			{% else %}
				var link = 'ridistory://openinbrowser/#http://bit.ly/16uJWwa';
			{% endif %}

			location.href = link;
		}
	</script>

</head>

<body>
<div id="banner">
    <a id="banner-link" href="javascript:moveToAppStore()">
        <img id="banner-image" style="width: 320px; height: 40px; border: 1px" />
    </a>

	<script>
        changeBannerImage();
        setTimerToChangeBannerImage();
    </script>
</div>

</body>

</html>
