<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RIDISTORY BANNER PAGE</title>
	<style>
		body { margin: 0; padding: 0; background-color: #16283E; }
	</style>
	
	<script>
		function resizeMe(element) {
			element.width = window.innerWidth;
			element.height = window.innerHeight;
		}
	</script>
</head>

<body>
	
<div id="banner">
	<a href="ridistory://openinbrowser/#http://ridibooks.com/pc/event_main.php?idx=761&_pc">
		<img src="http://ridibooks.com/images/banner/1368603857.png" onload="javascript:resizeMe(this);" />
	</a>
</div>

</body>

</html>