<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
	<meta name="ROBOTS" content="ALL"/>
	<meta name="author" content="RIDI Corporation"/>
	<meta name="description" content="리디스토리"/>
	<meta name="keywords" content="리디스토리, ridi story, 스토리홀릭, story holic"/>
	<title>리디스토리</title>
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/story_style.css"/>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
</head>
	<body id="story">
		<header class="hidden">
			<h1>RIDI Story</h1>
		</header>
		{% block container %}
		{% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>
