<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
	<meta name="ROBOTS" content="ALL"/>
	<meta name="author" content="Initial Communications"/>
	<meta name="description" content="스토리홀릭"/>
	<meta name="keywords" content="스토리홀릭, story holic"/>
	<title>스토리홀릭</title>
	
	<!-- ============== icon ========= -->
	<link rel="apple-touch-icon-precomposed" href="static/images/icon_story_72.png"/>
	<link rel="apple-touch-icon-precomposed" href="static/images/icon_story_114.png" sizes="114x114"/>

	<!-- ============== CSS ========= -->
	<link rel="stylesheet" type="text/css" media="all" href="static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" media="screen" href="static/css/story_style.css"/>

	<!-- ============== JS ========= -->
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="static/js/prefixfree.min.js"></script>
	<script type="text/javascript">
		
	</script>
</head>
<body>
	<div id="story">
		<header class="hidden">
			<h1>Story Holic</h1>	
		</header>
		<!-- ========= block ========= -->
		<section class="comment">
			<article class="comment_wrap">
				<div class="module_title2">
					<h2 class="title">천만개의 사람꽃</h2>
				</div>
				<div class="comment_tab">
					<div class="tab_off">
						<p class="comment_num">댓글 <span class="num">23</span></p>
						<button class="default_btn btn_tab_open">댓글쓰기</button>
					</div>
					<div class="tab_on">
						<form action="#">
							<input type="text" class="input_nick" placeholder="닉네임을 입력하세요"/>
							<textarea name="input_comment" id="input_comment" class="input_text" placeholder="댓글을 입력하세요"></textarea>
							<p class="char_num"><span class="now_num">0</span>/300</p>
							<button class="default_btn btn_submit" type="submit">등록하기</button>
						</form>
						<hr class="clear_both" />
					</div>
				</div>
				<div class="comment_list">
					<ul class="list_wrap">
						<li>
							<div class="avarta">
								<img src="static/images/icon_comment01.png" alt="아바타" />
							</div>
							<div class="contents_wrap">
								<p class="contents_info">
									<span class="box_left_arrow">작성자</span>
									<span class="info_id">mydeer</span>
									<span class="info_date">2013.02.29 22:30</span>
								</p>
								<p class="contents_text">
									배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 
									춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고
								</p>
							</div>
						</li>
						<li>
							<div class="avarta">
								<img src="static/images/icon_comment02.png" alt="아바타" />
							</div>
							<div class="contents_wrap">
								<p class="contents_info">
									<span class="box_left_arrow">작성자</span>
									<span class="info_id">mydeer</span>
									<span class="info_date">2013.02.29 22:30</span>
								</p>
								<p class="contents_text">
									배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 
									춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고
								</p>
							</div>
						</li>
						<li>
							<div class="avarta">
								<img src="static/images/icon_comment01.png" alt="아바타" />
							</div>
							<div class="contents_wrap">
								<p class="contents_info">
									<span class="box_left_arrow">작성자</span>
									<span class="info_id">mydeer</span>
									<span class="info_date">2013.02.29 22:30</span>
								</p>
								<p class="contents_text">
									배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 
									춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고
								</p>
							</div>
						</li>
						<li>
							<div class="avarta">
								<img src="static/images/icon_comment02.png" alt="아바타" />
							</div>
							<div class="contents_wrap">
								<p class="contents_info">
									<span class="box_left_arrow">작성자</span>
									<span class="info_id">mydeer</span>
									<span class="info_date">2013.02.29 22:30</span>
								</p>
								<p class="contents_text">
									배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고 배고프로 
									춥고 졸립고 심심하고 머리아프고 배고프로 춥고 졸립고 심심하고 머리아프고
								</p>
							</div>
						</li>
					</ul>
				</div>
			</article>
		</section>
		<section class="module_layer_popup">
			<h2 class="popup_title hidden">팝업</h2>
			<article>
				<div class="popup_contents">
					<div class="module_title3">
						<h3 class="title">책 상세정보</h3>
					</div>
					<p>
						작가 서홍익은 한없이 사랑하면서도 메마르고 삭막한 현실의
						무게에 점차 지쳐가는 두 주인공의 심리를 인간에 대한 깊은
						애정과 섬세한 표현을 통해 잔잔하게 그려내고 있다.
						마치 거울을 보는 듯한 우리들의 또 다른 자화상 앞에서 발견할
						수 있는 가슴 시릴 만큼 아름다운 사랑 이야기이다. 
						'너의 빈자리'의 개정판이다.
					</p>
				</div>
			</article>
			<article>
				<div class="popup_contents">
					<div class="module_title3">
						<h3 class="title">저자소개</h3>
					</div>
					<p>
						전작 <에이스> 전 4권.<br/>
						과거는 묻어 두고 모든 것을 새롭게 시작하고 싶은 작가.
					</p>
				</div>
			</article>
		</section>
		<!-- ========= block ========= -->
	</div>
</body>
</html>