{% extends '/base.twig' %}

{% block container %}
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }
        body {
            background: #efefef;
        }
    </style>

    <div style="text-align: center; padding-bottom: 20px; max-width: 480px; margin: 0 auto; background: #fff;">
        <img src="/static/images/end_service_contents.png" style="width: 100%;" />
        <input type="image" src="/static/images/btn_ridibooks_login.png" onclick="loginWithRidibooksAccount()" style="width: 90%;" />
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function loginWithRidibooksAccount() {
            window.android.loginWithRidibooksAccount();
        }
    </script>
{% endblock %}
