{% extends '/base.twig' %}

{% block container %}
    <style type="text/css">
        * {
            padding: 0 !important;
            margin: 0 !important;
            border: 0 !important;
        }
    </style>
    <section class="module_layer_popup">
        <h2 class="popup_title hidden">팝업</h2>
        <div class="popup_wrap">
            <article>
                <div class="popup_contents" style="text-align: center;">
                    <img src="/static/images/end_service_contents.png" style="width: 100%;" />
                    <input type="image" src="/static/images/btn_ridibooks_login.png" onclick="loginWithRidibooksAccount()" />
                </div>
            </article>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function loginWithRidibooksAccount() {
            window.android.loginWithRidibooksAccount();
        }
    </script>
{% endblock %}
