{% extends '/base.twig' %}

{% block container %}
<section class="module_layer_popup">
	<h2 class="popup_title hidden">팝업</h2>
	<div class="popup_wrap">
	    {% for n in notice %}
		<article>
			<div class="popup_contents">
				<div class="module_title3">
					<h3 class="title">{{ n.title }}</h3>
					<span class="date">{{ n.reg_date|date('Y-m-d') }}</span>
				</div>
				<p>{{ n.message|raw|nl2br }}</p>
			</div>
		</article>
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block script %}

{% endblock %}
