<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery.mousewheel.js"><\/script>')</script>
    <script>
        function moveToStore(store_id) {
            location.href = 'ridistory://openinbrowser/#http://ridibooks.com/detail.php?id=' + store_id;
        }
    </script>

    <title>RIDISTORY RECOMMENDED BOOK PAGE</title>

    <style>
        * { margin: 0; padding: 0; }
        body { overflow-x: scroll; overflow-y: hidden; }
        #recommended_books td {width: 120px;}
        .book-cover-image {
            width: 90px;
            height: auto;
            margin-right: 30px;
            -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 3px 5px 15px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 3px 5px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 3px 5px 15px rgba(0, 0, 0, 0.3);
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
        .book-cover-wrapper {
            position: relative;
            float: left;
        }
        .book-cover-wrapper:after {
            content: " ";
            display: block;
            float: left;
            position: absolute;
            width: 90px;
            height: 100%;
            left: 0;
            bottom: 0;
            background: -moz-linear-gradient(left, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.15) 3%, rgba(8,8,8,0) 6%, rgba(255,255,255,0.1) 95%, rgba(0,0,0,0.1) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.3)), color-stop(3%,rgba(0,0,0,0.15)), color-stop(6%,rgba(8,8,8,0)), color-stop(95%,rgba(255,255,255,0.1)), color-stop(100%,rgba(0,0,0,0.1)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.15) 3%,rgba(8,8,8,0) 6%,rgba(255,255,255,0.1) 95%,rgba(0,0,0,0.1) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.15) 3%,rgba(8,8,8,0) 6%,rgba(255,255,255,0.1) 95%,rgba(0,0,0,0.1) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.15) 3%,rgba(8,8,8,0) 6%,rgba(255,255,255,0.1) 95%,rgba(0,0,0,0.1) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0.3) 0%,rgba(0,0,0,0.15) 3%,rgba(8,8,8,0) 6%,rgba(255,255,255,0.1) 95%,rgba(0,0,0,0.1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#1a000000',GradientType=1 );
        }
        .book-title {
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-top: 10px;
            padding-right: 15px;
            color: #333;
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>

<body>
<div id="recommended_books">
    <table cellpadding="0" cellspacing="0" style="padding-left: 30px;">
        <tr valign="bottom">
            {% for book in books %}
                <td onclick="moveToStore({{ book.store_id }})">
                    <div class="book-cover-wrapper">
                        <img class="book-cover-image" src="{{ book.cover_url }}">
                    </div>
                </td>
            {% endfor %}
        </tr>
        <tr valign="top">
            {% for book in books %}
                <td onclick="moveToStore({{ book.store_id }})">
                    <div class="book-title">
                        {{ book.title }}
                    </div>
                </td>
            {% endfor %}
        </tr>
    </table>
</div>
</body>

</html>
